<html>
    <head>
            <link rel="stylesheet" type ="text/css" href="/static/css/main.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <title>VML Weather Station</title>
    </head>

    <script>
        //send get request every hour
        //run into sync problems getting from wStation.py every hour as well?
        //could have them refresh themselves, say when the last time is was refreshed 
        //the could be sync issues here, doing every 60 minutes if they are offsset and servers are run at different times 
        
        var buffd;
        
        function getWeather(){

            console.log("Get weather");

            $.ajax({
                type : "GET",
                dataType: "json",
                url : 'http://127.0.0.1:5000/get_data',
                success: function (data) {
                    //data = JSON.parse(data);
                    console.log("gotten");
                    //console.log(data);
                    attach(data);
                    //buffd = JSON.parse(data);
                    //console.log(buffd);
                    //return data;
                }, error: function(e){
                    console.log(e);
                }
	        });
            /*var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200){
                    var currData = JSON.parse(xhttp.responseText);
                }
            };
            xhttp.open("GET", "/get_data", true);
            xhttp.send(); */
        }

        function attach(data){
            buffd = data;
            //console.log(buffd)
        }

        function getHist(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200){
                    var histoWeatherData = JSON.parse(xhttp.responseText);
                }
            };
            xhttp.open("GET", "/get_histo", true);
            xhttp.send();
        }

        function createTables(){
            //var weath = getWeather();
            //console.log(weath)

            getWeather();

            //console.log(buffd)
            var weath = buffd;

            //var exampleHistWeatherD = getHist();

            //list of values
            var props = Object.getOwnPropertyNames(weath);
            //console.log(props);
           
            console.log(weath)

            document.getElementById("currentweather").innerHTML = "";
            
            for(var i = 0; i < props.length; i++){
                //if already exists

                

                var listItem = document.createElement("li");

                listItem.id = "weatherItems"

                listItem.className = "list-group-item";
                
                
                listItem.innerHTML = props[i] + ": " + weath[props[i]]; 

                curtable.appendChild(listItem);

                
            }

            //createHistoricalTable();

           
        }

       
       

        function createHistoricalTable(){
            var col = [];
            for (var i = 0; i < exampleHistWeatherD.length; i++) {
                for (var key in exampleHistWeatherD[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }

            // CREATE DYNAMIC TABLE.
            var table = document.createElement("table");

            // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

            var tr = histo.insertRow(-1);                   // TABLE ROW.

            for (var i = 0; i < col.length; i++) {
                var th = document.createElement("th");      // TABLE HEADER.
                th.innerHTML = col[i];
                tr.appendChild(th);
            }

            // ADD JSON DATA TO THE TABLE AS ROWS.
            for (var i = 0; i < exampleHistWeatherD.length; i++) {

                tr = histo.insertRow(-1);

                for (var j = 0; j < col.length; j++) {
                    var tabCell = tr.insertCell(-1);
                    tabCell.innerHTML = exampleHistWeatherD[i][col[j]];
                }
            }

            // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
            var divContainer = document.getElementById("showData");
            divContainer.innerHTML = "";
            divContainer.appendChild(histo);


        }
    
    </script>

    <body>
        <!-- Added header area -->
        <!-- add css to get the table aligned left-->
        <!--<table class="outer" id="weatherDataTable"></table> -->
        <div id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">VML Weather Station Data</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <select>
                                    <!--On selection display table-->
                                    <option selected disabled>Station Select</option>
                                    <option value="1">Default Station</option>
                                    
                                </select>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" onclick=createTables()>Load Data/Refresh</button>
                    </li>
                  </ul>
                 <!--Status button-->
                </div>
              </nav>
            </div>
        <div id="left"><h1 class="display-4">Current Readings</h1>
           
            <div id="listcontainer"> 
            <ul class="list-group" id="currentweather">
                   
            </ul>
            </div>
        </div>
        <div id="right"><h1 class="display-4">Historical Readings</h1>
            <table class="table" id = "historical"> </table>

            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-reponsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQvER8gp0sAJKSCMLXnwhGDOobi3rJGtQ2EVLJT9HMHeOFufzFymY1efkkkFtsvaRgxQU_hyJKSzqDC/pubhtml?widget=true&amp;headers=false"></iframe>
            </div>

            <br />


            <div class="embed-responsive embed-responsive-16by9">
                <a class="embed-responsive-item" href="https://www.wunderground.com/dashboard/pws/KPAPITTS391"><img src="http://banners.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=pws250&weatherstationcount=KPAPITTS391" width="400" height="200" border="0" alt="Weather Underground PWS KPAPITTS391" /></a>

            </div>

            



        </div>
        <div id="bot"><p>Connor Lovejoy for VML Pitt</p></div>
        <!-- use function from home.html to add data to table dynamically, also have this run every hour-->
        <!-- have to call this function from the above http request function-->
        <script>
            var curtable = document.getElementById("currentweather");
            var histo = document.getElementById("historical");

            //createTables();
           // createHistoricalTable();
        
        </script>

    </body>


</html>