<html>
    <head>
            <link rel="stylesheet" type ="text/css" href="/static/css/main.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <title>VML Weather Station</title>
    </head>

    <script>

        //variable for holding weatherInstance Data
        /*
            Weather Instance: A single set of readings taken from any hour

        */         
        var buffd;
        
        //Get weather instance from Flask asynchronously
        function getWeather(){

            //console.log("Get weather");

            $.ajax({
                type : "GET",
                dataType: "json",
                url : 'http://127.0.0.1:5000/get_data',
                success: function (data) {
                   
                    attach(data);
                   
                }, error: function(e){
                    console.log(e);
                }
	        });
           
        }

        //attach data to buffd
        function attach(data){
            buffd = data;
           
        }

       
        //Create table for most recently gotten weather instance
        function createTables(){
           

            /*
                Next two lines can be done much better
            */

            //call get weather
            getWeather();

            //set weath to weather instance
            var weath = buffd;

           

            //list of values
            var props = Object.getOwnPropertyNames(weath);
            
           
            
            //delete already existing rows to prepare list to be redrawn
            document.getElementById("currentweather").innerHTML = "";
            
            for(var i = 0; i < props.length; i++){

                var listItem = document.createElement("li");

                listItem.id = "weatherItems"

                listItem.className = "list-group-item";
                
                
                listItem.innerHTML = props[i] + ": " + weath[props[i]]; 

                curtable.appendChild(listItem);

                
            }

           
        }
    
    </script>

    <body>
        <div id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">VML Weather Station Data</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <select>
                                    <!--On selection display table-->
                                    <option selected disabled>Station Select</option>
                                    <option value="1">Default Station</option>
                                    
                                </select>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" onclick=createTables()>Load Data/Refresh</button>
                    </li>
                  </ul>
                 <!--Status button or Time Stamp TODO-->
                </div>
              </nav>
            </div>
        <div id="left"><h1 class="display-4">Current Readings</h1>
           
            <div id="listcontainer"> 
            <ul class="list-group" id="currentweather">
                   
            </ul>
            </div>
        </div>
        <div id="right"><h1 class="display-4">Historical Readings</h1>
            <table class="table" id = "historical"> </table>

            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-reponsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQvER8gp0sAJKSCMLXnwhGDOobi3rJGtQ2EVLJT9HMHeOFufzFymY1efkkkFtsvaRgxQU_hyJKSzqDC/pubhtml?widget=true&amp;headers=false"></iframe>
            </div>

            <br />


            <div class="embed-responsive embed-responsive-16by9">
                <a class="embed-responsive-item" href="https://www.wunderground.com/dashboard/pws/KPAPITTS391"><img src="http://banners.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=pws250&weatherstationcount=KPAPITTS391" width="400" height="200" border="0" alt="Weather Underground PWS KPAPITTS391" /></a>

            </div>

            



        </div>
        <div id="bot"><p>Connor Lovejoy for VML @ Pitt</p></div>
        
        <script>
            var curtable = document.getElementById("currentweather");
            var histo = document.getElementById("historical");

            //createTables();
           // createHistoricalTable();
           //On Click requires double click
        
        </script>

    </body>


</html>